doctype html
html(lang="en")
  head
    title Vouch Ticket Management
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta( name='description', content='Vouch Ticket Management' )
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")


  nav.navbar.navbar-default( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="#") Vouch Ticket Management
 
    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li: a( href="/tickets") Ticket Lists
            li: a( href="/tickets/add" ) Add New Ticket
            li.dropdown
                a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Filter Ticket 
                    span.caret
                ul.dropdown-menu( role="filter" )
                    li: a( href="/tickets/status/open" ) Open
                    li: a( href="/tickets/status/active" ) Active
                    li: a( href="/tickets/status/failed" ) Failed
                    li: a( href="/tickets/status/closed" ) Closed
            li: a( href="https://github.com/gunturkh/vouch-ticket-backend" ) Github

  body(style="padding-bottom:10rem;")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    block content
